* text=auto eol=lf

*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.mako text eol=lf

*.png binary
*.jpg binary
*.ico binary
*.woff binary
*.woff2 binary